html {
    background-size: cover;
}

html, body {
    padding: 0;
    margin: 0;
    border: 0;
}

.container nav li {
  display: inline;
  float: right;
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
  padding: 1em;
  position: relative; bottom: 5px;
}

#biz-name {
    font-size: 1.5em;
    float: left;
    position: relative; right: 25px; bottom: 15px;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(62, 82, 100);
}

#new-acc {
    background-color: rgb(212, 146, 81);
}

.intro {
    position: relative; top: 225px; left: 125px;
    max-width: 500px;
}

h2 {
    color: white;
    font-family: 'Roboto';
    font-size: 50px;
    float: left;
    position: relative; bottom: 100px;
}

#desc {
    color: white;
    position: relative; bottom: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    float: left;
}

#button {
    width: 90px;
    position: relative; bottom: 160px;
    background-color: rgb(212, 146, 81);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding: 25px;
    text-align: center;
    float: left;
}

#button:hover {
    color: rgb(62, 82, 100);
}

.footer {
    float: left;
    position: relative; top: 375px; right: 130px;
}

.footer p {
    color: white;
    line-height: 10px;
    font-family: 'Lato', sans-serif;
}
