{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="authors" content="Julia Veenkamp">
        <meta name="description" content="{% block description %}Default Description{% endblock %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static "marina/css/styles.css" %}">
        {% block extrahead %}
        <!-- Empty for extra css stylesheets -->
        {% endblock %}
        {% if form_css %}
        <link rel="stylesheet" type="text/css" href="{% static form_css %}" />
        {% endif %}
        <style>
            html {
                background-image: url('{% block background_image %}{% endblock %}');
            }
        </style>
    {% endblock %}
</head>
<body>
    <div class="navigation">
    {% block sidebar %}
        <nav role="navigation">
            {% if user.is_authenticated %}
                <ul>
                    <li id="log-out"><a href="{% url 'logout' %}">LOG OUT</a></li>
                    <li><a href="{% url 'profile' %}">{{ user.username|capfirst|upper }}</a></li>
            {% else %}
                    <li id="new-acc"><a href="{% url 'signup' %}">SIGN UP</a></li>
                    <li><a href="{% url 'login' %}">LOG IN</a></li>
            {% endif %}
                    <li><a href="{% url 'boatspace-list' %}">RESERVATIONS</a></li>
                    <li><a href="{% url 'index' %}">HOME</a></li>
                    <!-- <li id="biz-name"><a href="{% url 'index' %}">MARINA</a></li> -->
                </ul>
        </nav>
    {% endblock %}
    </div>

    <div class="content">
        {% block content %}
        <!-- Usually left empty -->
        {% endblock %}
    </div>

    {% block scripts %}{% endblock %}
</body>
</html>

