{% extends "marina/base.html" %}

{% load static %}
{% block background_image %}{% static 'marina/images/reservations.jpg' %}{% endblock %}

{% block content %}
  <h1>Spaces Available:</h1>
  {% if boatspace_list %}
    <ul>
      {% for boatspace in boatspace_list %}
        {% if boatspace.availability_status %}
        <li>
          <a href="{{ boatspace.get_absolute_url }}">{{ boatspace.id }}</a>
          ({{boatspace.availability_status}})
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no spaces available.</p>
  {% endif %}
{% endblock %}
