{% extends 'marina/base.html' %}
{% load static %}
{% block background_image %}{% static 'marina/images/home.jpg' %}{% endblock %}
{% block extrahead %}
<link rel="stylesheet" href="{% static "marina/css/index.css" %}">
{% endblock %}

{% block description %}MARINA Home{% endblock %}

{% block content %}
<div class="outside">
<div class="intro">
    <h2>Reserve Your Spot</h2>
    <p id="desc">MARINA makes slot reservation on our marina hassle-free. Simply
    upload your boat registration and license, pick a slot, 
    bring your boat, and get ready to ride.
    </p>
    {% if user.is_authenticated %}
        <p id="button"><a href="{% url 'boatspace-list' %}">RESERVE</a></p>
    {% else %}
        <p id="button"><a href="{% url 'signup' %}">START NOW</a></p>
    {% endif %}
</div>
<div class="footer">
    <p>524 Marina Ave</p>
    <p>Sausalito, CA 94965</p>
    <!-- <p>(415) 881-2677</p>
    <p>marina@marina.com</p> -->
</div>
</div>
{% endblock %}