{% extends 'marina/base.html' %}
{% load static %}
{% block background_image %}{% static 'marina/images/profile.jpg' %}{% endblock %}
{% block extrahead %}
<link rel="stylesheet" href="{% static "marina/css/profile.css" %}">
{% endblock %}

{% block content %}
  <div class="outside">
    <h1>Welcome back, {{ user.username }}</h1>
    
    <div class="attributes">
      <br></br>
      <!-- Display User Attributes -->
      <div class="attributes-section" id="attr-1">
        <h2>Your Profile</h2>
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Phone Number:</strong> {{ user.phone_number }}</p>
        <p><strong>Has Valid License:</strong> {% if user.has_valid_license %}Yes{% else %}No{% endif %}</p>
        <p><strong>Has Valid Insurance:</strong> {% if user.has_valid_insurance %}Yes{% else %}No{% endif %}</p>
      </div>
      
      <!-- Display License Information -->
    <div class="attributes-section" id="attr-2">
    {% if user.boatlicense %}
      <h2>Boating License</h2>
      <p><strong>License Number:</strong> {{ user.boatlicense.license_num }}</p>
      <p><strong>License Expiry Date:</strong> {{ user.boatlicense.license_expiry_date }}</p>
    {% else %}
      <h2>Boating License</h2>
      <p><strong>License Number:</strong>Not submitted</p>
      <p><strong>License Expiry Date:</strong>Not submitted</p>
    {% endif %}
    </div>
      
    <!-- Display Registered Boats -->
    <div class="attributes-section" id="attr-3">
    {% if user.boat_set.all %}
        <h2>Registered Boats</h2>
        <ul>
          {% for boat in user.boat_set.all %}
            <li>{{ boat.name }} - {{ boat.type }}</li>
          {% endfor %}
        </ul>
    {% else %}
        <h2>Registered Boats</h2>
        <p>None</p>
    {% endif %}
    </div>
      
    <!-- Display Reserved BoatSpaces -->
    <div class="attributes-section" id="attr-4">
    {% if user.boatspace_set.all %}
      <h2>Reserved Spaces</h2>
      <ul>
        {% for boatspace in user.boatspace_set.all %}
          <li>{{ boatspace.id }} - {% if boatspace.boat %}{{ boatspace.boat.name }}{% else %}No Boat{% endif %}</li>
        {% endfor %}
      </ul>
    {% else %}
      <h2>Reserved Spaces</h2>
      <p>None</p>
    {% endif %}
    </div>
    </div>
    <br></br>

    <!-- Buttons for Registering License, Boats, and BoatSpaces -->
    <div class="buttons">
      <a id="btn1" href="{% url 'license' %}" class="btn btn-primary">Register License</a>
      <a id="btn2" href="{% url 'boatspace-list' %}" class="btn btn-primary">Reserve a Space</a>
    </div>

  </div>
{% endblock %}